* {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* sets the default set up for the css styles*/
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #e2c35d, #fda085);
    color: white;
    min-height: 100vh;
}

header {
    font-size: 24px;
}

.footer-container {
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 8px;
    font-size: 32px;
    border: none;
    background: white;
}

form button {
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #d88771;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 8px;
    background: white;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.todo-item {
    width: 400px;
}

.trash-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 16px;
    font-size: 16px;
}

.complete-btn {
    background-color: rgb(73, 204, 73);
}

.trash-btn:hover {
    background: rgb(238, 51, 51);
}

.complete-btn:hover {
    background: rgb(5, 129, 245);
}

.todo-item {
    padding: 0 8px;
}

.fa-trash, .fa-check {
    pointer-events: none; /* prevents clicking on the icon */
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/* selector styling */

/* remove styles from the select tag */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 16px;
    position: relative;
    overflow: hidden;
}

select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 24px; /* was 16px */
    font-size: 12px;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 20px;
    pointer-events: none;
    transition: all 0.3s ease;
    height: 32px;
}

.select:hover::after {
    background: white;
    color: #ff6f47;
}

@media only screen and (max-width: 600px) {
    .todo-input {
        width: 225px;
        margin-left: 10px;
    }

    select {
        width: 90px;
    }

    .todo-item {
        width: 275px;
    }

    .select::after {
        padding: 5px;
        height: 100px;
        
    }
}